doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/todomvc.css')
  body
    block content
    script(src="/javascripts/libs/jquery-1.11.1.min.js")
    script(src="/javascripts/libs/handlebars-v1.3.0.js")
    script(src="/javascripts/libs/ember.js")
    script(src="/javascripts/libs/ember-data.js")
    script(src="/javascripts/application.js")
    script(src="/javascripts/router.js")
    script(src="/javascripts/models/todo.js")
